html, body, section {
    font-family: 'Fira Sans', sans-serif;
}

hr {
    max-width: 960px;
}

section {
    margin: 60px 0px;
}

nav button {
    background-color: transparent;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    padding: 10px 20px;
}

.navbar-brand {
    margin: 10px 30px;
    color: #66bb6a;
}

.header-section {
    max-width: 400px;
    margin-top: 50px;
}

.invest-btn {
    background-color: #66bb6a;
    border: 0px;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0px 10px 20px lightgray;
    color: white;
} 

body {
    padding: 0;
    margin: 0;
}

.green-background {
    background-color: #66bb6a;
    color: white;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.general-padding {
    padding: 1.75rem;
}

.card {
    border-radius: 0.5rem;
    width: 300px;
    border: none;
    box-shadow: 0px 3px 20px 14px #f5f5f5;
}

img {
    background-color: white;
    height: 50px;
    width: 50px;
    margin-bottom: 1rem;
    border: 1px solid black;
}

#new-opportunities .header-title {
    margin: 6rem 0;
    padding: 0 29%;
}

.green-txt {
    color: #66bb6a;
}

.last-sect {
    text-align: center;
    box-shadow: 0px 3px 20px 14px #F5F5F5;
    padding: 100px 0px;
    max-width: 960px;
}

.last-sect div {
    margin: 20px 0px;
}

.footer-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-row li {
    color: darkgray;
    font-size: 12px;
    margin: 20px 0px;
}

footer ul {
    list-style: none;
}

.footer-bold {
    color: black;
    font-weight: 900;
}

.footer-end {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-end p {
    color: darkgray;
    font-size: 12px;
}