html, body, section {
    font-family: 'Fira Sans', sans-serif;
}

nav button {
    background-color: transparent;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    padding: 10px 20px;
}

.navbar-brand {
    margin: 10px 30px;
    color: #66bb6a;
}

.header-section {
    max-width: 400px;
    margin-top: 50px;
}

.header-section button {
    background-color: #66bb6a;
    border: 0px;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0px 10px 20px lightgray;
    color: white;
} 

body {
    padding: 0;
    margin: 0;
}

.green-background {
    background-color: #66bb6a;
    color: white;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.general-padding {
    padding: 1.75rem;
}

.card {
    border-radius: 0.5rem;
    width: 300px;
    border: none;
    box-shadow: 0px 3px 20px 14px #f5f5f5;
}

img {
    background-color: white;
    height: 50px;
    width: 50px;
    margin-bottom: 1rem;
    border: 1px solid black;
}

#new-opportunities .header-title {
    margin: 2rem 0;
    padding: 0 18vw;
}

.invest-second {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section-and {
    margin: 2rem 0;
    padding: 0 18vw;
}
h4 {
    margin-top: 80px;
    margin-bottom: 30px;
}
.firstSquare{
    height: 350px;
    width: 280px;
    background-color: #66bb6a;
    text-align: left;
    flex: auto;
    flex-direction: column-reverse;
    flex-wrap: unset;
    padding: 1.75rem;
    margin-right: 50px;
    border-radius: 5px;
}

.title {
    width: 250px;
}
.invest-first{
    margin-bottom: 40px;
}

button{
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px 20px;
}
